main {
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

header {
    padding: 1.5em 0;
    text-align: center;
}

header h1 {
    font-weight: 800;
}

header p {
    font-weight: 600;
    color:#8158fa
}

header p:nth-of-type(2) {
    font-weight: 450;
}

section {
    margin: 1em 0em;
}


section h3 {
    color: #8158fa;
}

.image-grid {
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.image-item {
    margin: auto;
}

.image-item img {
    width: 100%;
    border-radius: 8px;
}

@media (min-width:300px) {
    main {
        width: 90%;
    }

    .image-item {
        width: 50px;
    }
}

@media (min-width:1200px) {
    main {
        width: 70%;
    }

    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.5em;
    }

    header p:nth-of-type(2) {
        font-size: 1.3em;
    }

    section h3 {
        font-size: 1.5em;
    }

    section p {
        font-size: 1em;
    }

    .image-item {
        width: 75px;
    }
}

@media (min-width:1921px) {
    main {
        width: 60%;
    }

    header h1 {
        font-size: 3em;
    }

    header p {
        font-size: 2em;
    }

    header p:nth-of-type(2) {
        font-size: 1.7em;
    }

    section h3 {
        font-size: 2em;
    }

    section p {
        font-size: 1.5em;
    }

    .image-item {
        width: 100px;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}