footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    margin-top: 50px;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

footer a{
    color: white;
    text-decoration: none;
}

footer p:hover{
    color:#9775fa;
    transform: scale(1.1);
}

.footer-btn {
    width: 3.5em;
    height: 3.5em;
    display: inline-block;
    padding: 0.3em;
    border-radius: 50px;
    background-color: #8158fa;
    transition: 0.2s;
}

.footer-btn img {
    width: 100%;
    border-radius: 20px;
}

.footer-btn:hover {
    background-color: #9d7efb;
    transform: scale(0.9);
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}