@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p{
    padding: 0 10%;
    font-size: 1em;
}

header {
    text-align: start;
    padding: 1em 0em;
    margin: auto;
    overflow: hidden;
}

header h1 {
    font-size: 5em;
    font-weight: 5000;
    padding: 0 10%;
    animation: slideFromLeftWithBounce ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

header h3 {
    padding: 0 10%;
    padding-bottom: 0.5em;
    font-weight: 450;
    font-size: 2.5em;
    animation: slideFromRightWithBounce ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

header p {
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.quick-links{
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.quick-links p{
    padding: 0 10%;
}

.links-grid {
    display: grid;
    gap: 1em;
    padding: 1em 10%;
}

.link {
    color: #ffffff;
    background: #000000;
    text-align: center;
    padding: 1em;
    box-shadow: 0 4px 8px #000000;
    border-radius: 10px;
    height: 100%;
    transition: 0.15s;
    text-decoration: none;
    color: inherit;
}

.link img {
    max-width: 100%;
    border-radius: 10px;
}

.link p:nth-of-type(2){
    font-weight: 100;
    font-size: 1em;
}

.link:hover {
    transform: scale(1.05);
    border-radius: 30px;
    background-color: #9775fa;
}

.external-links{
    padding: 0.5em 10%;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btn{
    width: 3.5em;
    height: 3.5em;
    display: inline-block;
    padding: 0.3em;
    border-radius: 50px;
    background-color: #8158fa;
    transition: 0.2s;
}

.btn img{
    width: 100%;
}

.btn:hover{
    background-color: #9d7efb;
    transform: scale(1.1);
}

@keyframes slideFromLeftWithBounce {
    0% {
        transform: translateX(-150%);
    }

    65%{
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideFromRightWithBounce {
    0% {
        transform: translateX(150%);
    }

    65%{
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* Grid layout for different screen sizes */
@media (min-width: 300px) {
    header h1{
        font-size: 2.9em;
    }
    header h3 {
        font-size: 1.8em;
    }
    
    main p{
        font-size: 1em;
    }

    .btn{
        width: 3em;
        height: 3em;
    }

    .links-grid{
        grid-template-columns: repeat(3, minmax(85px, 1fr));
        gap: 0.5em;
    }

    .link p:nth-of-type(1){
        font-size: 0.8em;
    }

    .link p:nth-of-type(2){
        font-size: 0.5em;
    }
}

@media (min-width: 600px) {
    header h1{
        font-size: 3.6em;
    }
    header h3 {
        font-size: 2.1em;
    }
    
    main p {
        font-size: 1.1em;
    }

    .btn{
        width: 3.1em;
        height: 3.1em;
    }

    .links-grid{
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        gap: 1em;
    }

    .link p:nth-of-type(1){
        font-size: 1em;
    }

    .link p:nth-of-type(2){
        font-size: 0.8em;
    }
}

@media (min-width: 700px) {
    header h1{
        font-size: 4.2em;
    }
    header h3 {
        font-size: 2.2em;
    }
    
    main p {
        font-size: 1.2em;
    }

    .btn{
        width: 3.2em;
        height: 3.2em;
    }

    .link p:nth-of-type(1){
        font-size: 1.2em;
    }

    .link p:nth-of-type(2){
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    header h1{
        font-size: 5.5em;
    }
    header h3 {
        font-size: 2.5em;
    }
    
    main p {
        font-size: 1.5em;
    }

    .btn{
        width: 3.5em;
        height: 3.5em;
    }

    .link p:nth-of-type(1){
        font-size: 1.3em;
    }

    .link p:nth-of-type(2){
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    header h1{
        font-size: 6.5em;
    }

    header h3 {
        font-size: 3em;
    }
    
    main p {
        font-size: 1.5em;
    }

    .btn{
        width: 4em;
        height: 4em;
    }

    .link p:nth-of-type(1){
        font-size: 1.8em;
    }

    .link p:nth-of-type(2){
        font-size: 1.4em;
    }
}

@media (min-width: 1920px) {

    header h1{
        font-size: 7.5em;
    }

    header h3 {
        font-size: 3.5em;
    }
    
    main p {
        font-size: 2em;
    }

    .btn{
        width: 5em;
        height: 5em;
    }
}