main {
    animation: fadeIn ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1 {
    justify-self: center;
    text-align: center;
}

.external-links,
.jump-to {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0em auto;
    gap: 1em;
}

.external-links a {
    transition: 0.2s;
}

.external-links img {
    width: 20px;
}

.external-links a:hover {
    transform: scale(1.2);
}

.jump-to a {
    text-decoration: underline;
    color: #9774ff;
    transition: 0.1s;
    font-weight: 500;
}

.jump-to a:hover {
    transform: scale(1.1);
}

section {
    margin: auto;
    padding-top: 2em;
}

section h3 {
    color: #8158fa;
    padding-top: 1.5em;
}

.download-widget{
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
    gap: 1em;
}

.video {
    display: flex;
    justify-content: center;
    margin: 2em auto;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@keyframes slideFromLeftWithBounce {
    0% {
        transform: translateX(-1000px);
    }

    65% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRightWithBounce {
    0% {
        transform: translateX(1000px);
    }

    65% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@media (max-width: 1199px) {
    .video {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3em;
    }

    .jump-to a {
        font-size: 1em;
    }

    .video {
        width: 70%;
    }

    section {
        max-width: 70%;
    }

    section h3 {
        font-size: 1.2em;
    }

    section p {
        font-size: 1em;
    }
}

@media (min-width: 1921px) {
    h1 {
        font-size: 4em;
    }

    .jump-to a {
        font-size: 1.2em;
    }

    section h3 {
        font-size: 1.5em;
    }

    section p {
        font-size: 1.2em;
    }
}