* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #e3e2e2;
    background-color: #1c1c1c;
    line-height: 1.6;
}

.back-btn{
    display: inline-block;
    padding: 10px;
    transition: 0.1s;
}

.back-btn img{
    width: 30%;
}

nav{
    background: linear-gradient(180deg, #333333,#1c1c1c);
}

nav p{
    text-align: center;
    
}

header {
    padding: 1.5em 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    padding: 2.5em;
}

main {
    max-width: 1000px;
    margin: 2em auto;
    padding: 2em;
}

.video {
    display: flex;
    justify-content: center; /* Centers the video-wrapper horizontally */
    margin: 2em 0;
}

/* Video Wrapper to Maintain Aspect Ratio */
.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

/* Responsive Iframe */
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    color: #000000;
    background-image: linear-gradient(180deg, #ffffff,#7f7f7e);
    font-size: 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: 0.3s;
}

.back-btn:hover{
    transform: scale(1.05);
}
.btn:hover{
    transform: scale(1.05);
    border-radius: 30px;
}

footer {
    text-align: center;
    padding: 1.5em 0;
    background: #333;
    color: #fff;
}

footer p {
    margin: 0.5em 0;
}

footer a {
    color: #ffc107;
    text-decoration: none;
}
