main {
    max-width: 1200px;
}

.intro {
    display: block;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.intro h2 {
    font-weight: 300;
}

.in-page-nav {
    display: flex;
    justify-content: center;
}

.in-page-nav a {
    background-color: #8158fa;
    margin: 0 0.5em;
    padding: 0.3em;
    border-radius: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    transition: 0.15s;
}

.in-page-nav a:hover {
    background-color: #9d7efb;
    transform: scale(0.9);
}

.seperator {
    text-align: center;
    font-weight: 200;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.projects {
    display: grid;
    gap: 1em;
    padding: 0% 1em;
    animation: slideDown ease 0.5s;
    animation-fill-mode: forwards;
}

.project {
    color: #ffffff;
    background: #000000;
    text-align: center;
    padding: 1em;
    box-shadow: 0 4px 8px #000000;
    border-radius: 10px;
    height: 100%;
    transition: 0.15s;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.project:hover {
    transform: scale(1.05);
    border-radius: 30px;
    background-color: #9775fa;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
}

.project h3 {
    margin: 0.5em 0;
}

.project p:nth-of-type(1) {
    font-weight: 300;
    font-style: italic;
}

.project p:nth-of-type(2) {
    padding: 1em 0;
    font-weight: 500;
    font-style: normal;
}

@keyframes slideDown {
    0% {
        transform: translateY(-1000px);
        /* Start slightly above */
    }

    100% {
        transform: translateY(0);
        /* End at the normal position */
    }
}

/* Grid layout for different screen sizes */
@media (min-width: 300px) {
.intro h2 {
        font-size: 1.2em;
    }

    .in-page-nav a{
    font-size: 0.8em;

    }

.seperator{
    font-size: 1.5em;

    }

    .projects {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .project h3 {
        font-size: 1.2em;
    }

    .project p:nth-of-type(1) {
        font-size: 0.8em;
    }

    .project p:nth-of-type(2) {
        font-size: 0.7em;
    }
}

@media (min-width: 500px) {
.intro h2 {
        font-size: 1.5em;
    }
    .in-page-nav a{
    font-size: 1em;

    }
.seperator{
    font-size: 1.7em;

    }
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .project h3 {
        font-size: 1.3em;
    }

    .project p:nth-of-type(1) {
        font-size: 0.9em;
    }

    .project p:nth-of-type(2) {
        font-size: 0.8em;
    }
}

@media (min-width: 900px) {
    .intro h2 {
        font-size: 2.2em;
    }

        .in-page-nav a{
    font-size: 1.2em;

    }
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .project h3 {
        font-size: 1.4em;
    }

    .project p:nth-of-type(1) {
        font-size: 1em;
    }

    .project p:nth-of-type(2) {
        font-size: 0.9em;
    }
}

@media (min-width: 1200px) {
.intro h2 {
        font-size: 2.5em;
    }
.in-page-nav a{
    font-size: 1.5em;

    }
    .seperator{
    font-size: 2em;

    }
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .project h3 {
        font-size: 1.5em;
    }

    .project p:nth-of-type(1) {
        font-size: 1.1em;
    }

    .project p:nth-of-type(2) {
        font-size: 1em;
    }
}

@media (min-width: 1920px) {


    .projects {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .project h3 {
        font-size: 1.7em;
    }

    .project p:nth-of-type(1) {
        font-size: 1.3em;
    }

    .project p:nth-of-type(2) {
        font-size: 1.2em;
    }
}