main {
    max-width: 1200px;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.intro {
    display: block;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.intro h2 {
    font-weight: 300;
}

.logo-warning {
    display: flex;
    justify-content: center;
    padding: 1em 0em;
}

.logo {
    margin: 0em 0.5em;
    display: flex;
}

.in-page-nav {
    display: flex;
    justify-content: center;
}

.in-page-nav a {
    background-color: #8158fa;
    margin: 0 0.5em;
    padding: 0.3em;
    border-radius: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    transition: 0.15s;
}

.in-page-nav a:hover {
    background-color: #9d7efb;
    transform: scale(0.9);
}

.seperator {
    text-align: center;
    font-weight: 200;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.projects {
    display: grid;
    gap: 1em;
    padding: 0% 1em;
}

.project {
    color: #ffffff;
    background: #000000;
    text-align: center;
    padding: 1em;
    box-shadow: 0 4px 8px #000000;
    border-radius: 10px;
    height: 100%;
    transition: 0.15s;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.icon-collection {
    padding: 1em 0em;
    display: flex;
    justify-content: center;
    gap: 0.3em;
}

.project:hover {
    transform: scale(1.05);
    border-radius: 30px;
    background-color: #9775fa;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
}

.project h3 {
    margin: 0.5em 0;
}

.tagline {
    font-weight: 200;
    font-style: italic;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
    justify-content: center;
    /* optional: center them like tags */
    padding-top: 1em;
}

.skills p {
    font-weight: 500;
    padding: 0em 0.3em;
    border-radius: 5px;
}

.hard {
    background-color: rgb(47, 0, 128);
    color: #ffffff;
}

.soft {
    background-color: purple;
    color: #ffffff;
}


/* Grid layout for different screen sizes */
@media (min-width: 300px) {
    .intro h2 {
        font-size: 1.2em;
    }

            .logo p {
        font-size: 0.5em;
    }

    .logo img {
        width: 15px;
    }

    .in-page-nav a {
        font-size: 0.8em;

    }

    .seperator {
        font-size: 1.5em;

    }

    .projects {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .project h3 {
        font-size: 1.2em;
    }

    .tagline {
        font-size: 0.8em;
    }

    .skills p {
        font-size: 0.8em;

    }

    .icon-collection img {
        width: 20px;
    }

}

@media (min-width: 500px) {
    .intro h2 {
        font-size: 1.5em;
    }

        .logo p {
        font-size: 0.7em;
    }

    .logo img {
        width: 18px;
    }

    .in-page-nav a {
        font-size: 1em;

    }

    .seperator {
        font-size: 1.7em;

    }

    .projects {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .project h3 {
        font-size: 1.3em;
    }

    .tagline {
        font-size: 0.9em;
    }

    .skills p {
        font-size: 0.9em;

    }

}

@media (min-width: 900px) {
    .intro h2 {
        font-size: 2.2em;
    }

    .logo p {
        font-size: 1em;
    }

    .logo img {
        width: 25px;
    }


    .in-page-nav a {
        font-size: 1.2em;

    }

    .projects {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .project h3 {
        font-size: 1.4em;
    }

    .tagline {
        font-size: 1em;
    }

    .icon-collection img {
        width: 25px;
    }


}

@media (min-width: 1200px) {
    .intro h2 {
        font-size: 2.5em;
    }

    .in-page-nav a {
        font-size: 1.5em;

    }

    .seperator {
        font-size: 2em;

    }

    .projects {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .project h3 {
        font-size: 1.5em;
    }

    .tagline {
        font-size: 1.1em;
    }

    .skills p {
        font-size: 1em;

    }
}

@media (min-width: 1920px) {


    .projects {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .project h3 {
        font-size: 1.7em;
    }

    .tagline {
        font-size: 1.3em;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}