/* Basic CSS reset and style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #e3e3e3;
    background-color: #1c1c1c;
    line-height: 1.6;
}

header {
    background: linear-gradient(180deg, #333333,#1c1c1c);
    color: #ffffff;
    padding: 1.5em 0;
    text-align: center;
}

.pageHeader p:nth-of-type(1) {
    font-style: normal;
    font-size: 1.3em;
}

.pageHeader p:nth-of-type(2) {
    font-style: bold;
    font-size: 1em;
}

header h1 {
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

main {
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
}

.intro {
    text-align: center;
    margin-bottom: 2em;
}

.intro h2{
    font-size: 2em;
}

.intro p{
    font-size: 1em;
}

.projects {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;
}

.project {
    color: #ffffff;
    background: #000000;
    text-align: center;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.15s;
    height: 100%;
    
}

.project-link{
    text-decoration: none;
    color: inherit;
}

.project:hover {
    transform: scale(1.05);
    border-radius: 30px;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
}

.project h3 {
    margin: 0.5em 0;
    font-size: 1.4em;
}

.project p:nth-of-type(1) {
    font-style: italic;
    font-size: 0.9em;
}

.project p:nth-of-type(2) {
    font-style: normal;
    font-size: 0.8em;
}

footer {
    
    text-align: center;
    padding: 1.5em 0;
    background: #333;
    color: #fff;
}

footer p {
    margin: 0.5em 0;
}

footer a {
    color: #ffce3a;
    text-decoration: none;
}
